@import '../common/mixin.scss';
.home{
	width: 100%;
	min-height: 100%;
	background-color: #f7f7f7;
	overflow: auto;
	@include flex(column,flex-start,stretch);
	.home_header{
		flex-basis: 60px;
	}
	.home_breadcrumb{
		flex-basis: 54px;
		padding: 0 152px;
	}
	.home_content{
		flex: 1;
	}
	.home_footer{
		flex-basis: 300px;
		padding: 0 152px;
		border-top: 1px solid #eee;
	}
}