
/*s设定home页输入框行高*/
.map_form .el-input--large .el-input__inner{
	height: 55px;
}

/*城市弹出框距离弹出键的距离*/
.el-popover[x-placement^=bottom]{
	margin-top: 20px;
}

/*设置城市弹出框中，猜测城市的字体为黑色*/
.city_guess button span{
	color: white;
}


.el-popover{
	/*设置城市弹出框padding为0，可以让滚动条贴紧右边没有缝隙*/
	padding: 0;
    /*设置最小宽度食用油100，想要表情小，可以重新设置*/
	min-width: 100px;
}
/* 覆盖导航条的颜色
.el-menu{
    background-color: #1e89e0;
}
.el-menu-item{
	color: #fff;
}
.el-menu-item:hover{
	background-color: #1e89e0;
} */